#imgDiv{
    /* background-color: red; */
}
#airtimeDiv{
    border: 1px solid rgb(222, 209, 209);
    border-radius: 10px;
}
#mtn{
    width: 80px;
    cursor: pointer;
}
#airtel{
    width: 50px;
    cursor: pointer;
}

#eti{
    width: 80px;
    cursor: pointer;
}
#glo{
    width: 60px;
    cursor: pointer;
}
#amount{
    border-radius: 12px;
}
#amount:focus{
    outline: none;
}
#mobileNumber{
    border-radius: 12px;
}
#mobileNumber:focus{
    outline:none;
}
#cardNumber{
    border-radius: 12px;
    width:400px;
    outline: none;
}
#phoneNumber{
    border-radius: 12px;
    width:400px;
    outline: none;
}
#continueBtn{
    background-color: rgb(24, 5, 50);
    border-radius: 12px;
}
#airtimeText{
    padding-top: 70px;
}
#payWithDiv{
    border: 1px solid rgb(222, 209, 209);
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#cardButton{
    
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
}

#pocketMoniBtn{
    
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    font: bold;
}
#otp{
    outline: none;
    border-radius: 12px;
}
#poweredText{
    position: absolute;
    font-family: bold;
    font-size: 25px;
    left: 34%;
    
    top: 520px;
}
#paymentLogoDiv{
    border: 1px solid rgb(222, 209, 209);
    border-radius: 12px;
    margin-top: 80px;
    
}
#masterCardImg{
    width: 70px;
}
#tryAgainBtn{
    background-color: rgb(24, 5, 50);
    border-radius: 12px;
}
#complaintBtn{
    color: rgb(24, 5, 50);
    border-radius: 12px;
    border: 1px solid rgb(24, 5, 50);
}
#compaintBox{
    border-radius: 12px;
    outline: none;
    border: 1px solid rgb(222, 209, 209);
}
#email{
    outline: none;
    border-radius: 12px;
}


@media(max-width:991px) {
    #pocketForm{
        width: 100%;
    }
    #pocketMoniBtn{
    
        color: white;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 7px;
        font: bold;
    }
    #cardButton{
        color: white;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 7px;
    }
    #cardForm{
        width: 100%;
    }
    #phoneNumber{
        border-radius: 12px;
        width:100%;
        outline: none;
    }
    #cardNumber{
        border-radius: 12px;
        width:100%;
        outline: none;
    }
    #validateForm{
        width: 100%;
    }
    #reportForm{
        width: 100%;
    }
    #compaintBox{
        width: 100%;
    }
}